In [ ]:
# read in real time taxi data and write to big query
!gcloud pubsub subscriptions create taxi --topic=projects/pubsub-public-data/topics/taxirides-realtime

In [ ]:
#build a private network for dataflow workers
# !gcloud builds submit --config=buildnetwork.yaml

In [10]:
from google.cloud import bigquery
from gcp_fx import PROJECT_ID
import pandas as pd

table = f'''`{PROJECT_ID}.taxirides.realtime`'''
# bigquery.Client().query(f'drop table {table}')

In [9]:
sql = f'''CREATE TABLE {table} (
    ride_id STRING,
    point_idx INTEGER,
    latitude FLOAT64,
    longitude FLOAT64,
    timestamp TIMESTAMP,
    meter_reading FLOAT64,
    meter_increment FLOAT64,
    ride_status STRING,
    passenger_count INTEGER
)
PARTITION BY DATE(timestamp);
'''
bigquery.Client().query(sql)

QueryJob<project=hca-hvu7470-202411221829-sbx, location=US, id=d2ca5d7b-6f62-4ec8-924a-aac515922023>

In [11]:
sql = f'select ride_id, ride_status, passenger_count, count(*) over() as ttl_records from {table}'
bigquery.Client().query(sql).to_dataframe()

Empty DataFrame
Columns: [ride_id, ride_status, passenger_count, ttl_records]
Index: []

In [5]:
# python dataflow/main.py for 20 seconds and ctrl c to end streaming

In [14]:
sql = f'select ride_id, ride_status, passenger_count, latitude, longitude, meter_reading, count(*) over() as ttl_records from {table}'
bigquery.Client().query(sql).to_dataframe()

,ride_id,ride_status,passenger_count,latitude,longitude,meter_reading,ttl_records
0,27466d13-5536-4509-b436-2e2dd805f7cf,enroute,2,40.76791,-73.90343,44.828293,30
1,b921b232-0907-48d1-858d-c522fba4d688,enroute,1,40.72267,-73.93714,33.396510,30
2,66dfdd40-922d-4a58-83c9-7cb31a17afd9,enroute,1,40.81025,-73.94927,16.731068,30
3,c80212c2-0907-4045-8f71-ef3c3b1fba0a,enroute,2,40.75662,-73.97847,16.115818,30
4,9dfbe60c-7732-42f1-99e6-c3f6f0b5a40f,enroute,1,40.74588,-73.99435,5.970817,30
5,dbb4d66e-29e2-4cbe-91dd-576267e39f5d,enroute,2,40.69055,-73.80972,12.650706,30
6,892bc40f-3566-4f62-81d6-6bed8d7e5715,enroute,1,40.73153,-73.91794,20.734953,30
7,064cb6f0-2d43-42d3-8131-ea4ede6530a3,enroute,1,40.76141,-73.89762,33.804535,30
8,c5c4a58a-9ed7-4791-b015-0fa96b7035c6,enroute,1,40.76818,-73.98924,14.406886,30
9,bddd75d3-9fbf-4b70-b492-3965305fb5e6,enroute,1,40.76424,-73.99852,7.249396,30
10,f82f9b3d-5074-42e9-b0ab-013e2ce587fc,enroute,2,40.78074,-73.95467,3.820952,30
11,8e62e7f7-fc38-4c6f-86ee-209f32ce0378,enroute,1,40.78593,-73.92973,15.924096,30
12,60e9e73f-8dbb-40bf-947c-1da1c2ad1a41,enroute,1,40.75217,-73.99347,0.853846,30
13,5d642fc2-cb05-4cf7-99c2-84950db3780b,enroute,1,40.74034,-73.97911,9.407317,30
14,fd1bef2a-f3bf-4233-9243-27c22b962590,enroute,4,40.73509,-73.86045,27.778568,30
15,7680f74f-ed0c-47de-bd52-4c63250f49ac,enroute,1,40.74274,-73.98079,4.160000,30
16,0f6df793-6bc3-477c-9155-5f7a17f0f946,enroute,1,40.72899,-74.00929,4.594285,30
17,58b2fc5d-7c1c-4428-b764-025eb1dca892,enroute,1,40.74224,-73.95914,9.142217,30
18,8c5fafea-b3dd-456a-be71-0a8595db2cce,enroute,3,40.78276,-73.94423,29.989832,30
19,6dce8f13-2f99-4ff6-ad08-be92e6099c77,enroute,1,40.66438,-73.80200,7.780392,30
20,afcf0e98-1eef-4d75-9a78-297595e3ac78,enroute,1,40.74217,-73.95887,11.348583,30
21,047cddad-834f-430b-a9cb-1c0ec24f9aef,enroute,2,40.66135,-73.80473,7.751989,30
22,e7712298-68a6-4915-8cc8-286992f56979,enroute,1,40.75722,-73.97610,0.431266,30
23,936afe04-d05d-4558-a86d-0af3952d5f35,enroute,1,40.77770,-73.94290,3.660000,30
24,cbbca586-9f50-49a6-bcbd-a5e850e9b182,enroute,1,40.70717,-73.99835,9.683429,30
25,de5f944e-f793-4528-a675-36f36f7faed0,enroute,1,40.75845,-74.00403,10.573043,30
26,69c13d23-9e03-4944-8cdf-badc2ce3bf8c,enroute,1,40.73809,-73.90379,28.926945,30
27,1df46456-2024-4f72-ae56-bb64e00454be,enroute,2,40.79215,-73.96378,9.725840,30
28,2a1ea903-f254-48ca-9f6a-5fecc20fe7e9,enroute,1,40.75023,-73.97908,5.817273,30
29,eccc60de-9405-4214-9585-66a258c1c899,enroute,1,40.72170,-73.94169,20.066206,30